/* Fonts */
@font-face {
    font-family: "Helios Antique Black";
    src: url(../../../fonts/Helios-Antique/Helios_Antique-Black.otf);
}

@font-face {
    font-family: "Helios Antique Medium";
    src: url(../../../fonts/Helios-Antique/Helios_Antique-Medium.otf);
}

@font-face {
    font-family: "Raitor Regular";
    src: url(../../../fonts/Raitor-Regular/Raitor-Regular.ttf);
}

/* Default Colors */
* {
    -bg-grey        : #18181A;
    -bg-white       : #E7E6E6;
    -bg-lighter-grey: #74747d;
    -bg-light-grey  : #414145;

    -white          : #FFFFFF;
    
    -logo-green : #9BC860;
    -logo-pink  : #E68ABA;

    /* ---- */

    -bg-heart   : #FF6F6F;

    -bg-hints   : #C8B866;
    
    -bg-exit    : #863232;

    -no-main        : #863232 ;
    -no-shadow      : #4d2929;
}

/* Styles */
.root {
    -fx-background-color: -bg-grey;
}

.container {
    -fx-background-color: -bg-grey;
}

.top {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -bg-light-grey;
}

/* .center {
    -fx-background-image: url("../../../media/menu/polka.png");
    -fx-background-size: 50;
} */

.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: transparent;
    

    -fx-padding         : 0;
}

.polka{
    -fx-background-image: url("../../../media/menu/polka.png");
    -fx-background-size: 35, cover;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-radius   : 0 ;
    -fx-padding         : 0;
}

.scroll-pane .scroll-bar:vertical .decrement-arrow,
.scroll-pane .scroll-bar:vertical .increment-arrow {
    -fx-background-color: transparent;
    -fx-border-radius   : 0;
}


.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-radius: 10;
    -fx-background-color : -bg-lighter-grey;
}

/* ACTS */

.act {
    -fx-background-color    : -logo-green;
    -fx-background-radius   : 5;
    -fx-pref-width          : 750;
    -fx-padding             : 10;
    -fx-transition: 0.5s;
}

.act-title {
    -fx-font-family : "Raitor Regular";
    -fx-font-size   : 25;
    -fx-text-fill   : -white;
    -fx-padding     : 0;
}

.act-subtitle {
    -fx-font-family : "Helios Antique Medium";
    -fx-font-size   : 18;
    -fx-text-fill   : -white;
    -fx-padding     : 0;
}

.exit {
    -fx-padding         : 10;
    -fx-pref-width      : 120;
    -fx-font-family: "Helios Antique Black";
    -fx-font-size: 16;
    -fx-text-fill: -white;
    /* -fx-background-radius: 3; */
    -fx-background-color: transparent;
    -fx-border-width    : 2;
    -fx-border-radius   : 3;
    -fx-border-color   : -no-main;
    /* -fx-effect          : dropshadow(gaussian, -no-shadow, 0, 0, 0, 10); */
}

/* LEVEL */
