/* Fonts */
@font-face {
    font-family: "Helios Antique Black";
    src: url(../../../fonts/Helios-Antique/Helios_Antique-Black.otf);
}

@font-face {
    font-family: "Helios Antique Medium";
    src: url(../../../fonts/Helios-Antique/Helios_Antique-Medium.otf);
}

@font-face {
    font-family: "Raitor Regular";
    src: url(../../../fonts/Raitor-Regular/Raitor-Regular.ttf);
}

/* Default Colors */
* {
    -bg-grey        : #18181A;
    -bg-white       : #E7E6E6;
    -bg-lighter-grey: #74747d;
    -bg-light-grey  : #414145;

    -white          : #FFFFFF;
    
    -logo-green : #9BC860;
    -logo-pink  : #E68ABA;

    /* ---- */

    -bg-heart   : #FF6F6F;

    -bg-hints   : #C8B866;
    
    -bg-exit    : #863232;

    -yes-main       : #78a53d;
    -yes-shadow     : #475d29;

    -no-main        : #863232 ;
    -no-shadow      : #4d2929;
}

/* Styles */
.root {
    -fx-background-color: -bg-grey;
    -fx-background-image: url("../../../media/menu/circle.png");
    -fx-background-size: cover;
}

.container {
    -fx-background-color: -bg-grey;
}

.top {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -bg-light-grey;
}

.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-padding         : 0;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-radius   : 0 ;
    -fx-padding         : 0;
}

.scroll-pane .scroll-bar:vertical .decrement-arrow,
.scroll-pane .scroll-bar:vertical .increment-arrow {
    -fx-background-color: transparent;
    -fx-border-radius   : 0;
}


.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-radius: 10;
    -fx-background-color : -bg-lighter-grey;
}

/* ACTS */

.act, .no {
    -fx-pref-width: 200;
    -fx-font-family: "Helios Antique Black";
    -fx-font-size: 17;
    -fx-text-fill: -white;
    -fx-background-radius: 3;
}

.act {
    -fx-background-color: -yes-main;
    -fx-effect          : dropshadow(gaussian, -yes-shadow, 0, 0, 0, 10);
}


/* LEVEL */

.no{
    
    -fx-background-color: -no-main;
    -fx-effect          : dropshadow(gaussian, -no-shadow, 0, 0, 0, 10);
}