/* Fonts */
@font-face {
    font-family: "Helios Antique Black";
    src: url(../../../fonts/Helios-Antique/Helios_Antique-Black.otf);
}

@font-face {
    font-family: "Helios Antique Medium";
    src: url(../../../fonts/Helios-Antique/Helios_Antique-Medium.otf);
}

@font-face {
    font-family: "Raitor Regular";
    src: url(../../../fonts/Raitor-Regular/Raitor-Regular.ttf);
}

@font-face {
    font-family: "Monaco";
    src: url(../../../fonts/Monaco/Monaco.ttf);
}

/* Default Colors */
* {
    -white          : #FFFFFF;
    -dark           : rgba(0, 0, 0, 0.5);

    -bg-grey        : #18181A;
    -bg-white       : #E7E6E6;
    -bg-lighter-grey: #74747d;
    -bg-light-grey  : #414145;

    
    -logo-green : #9BC860;
    -logo-pink  : #E68ABA;

    /* ---- */

    -bg-heart       : #FF6F6F;

    -bg-hints       : #C8B866;

    -choice-main    : #414145;
    -choice-shadow  : #303034;

    -choice-main-hover : #717179;
    -choice-shadow-hover : #4c4c52;
     
    -submit-hover : #9bc8605d;

    -bg-exit        : #863232;

    -bg-shop        : #3C298F;

    -code-bg        : #313135;

    -yes-main       : #78a53d;
    -yes-shadow     : #475d29;

    -no-main        : #863232 ;
    -no-shadow      : #4d2929;
}

/* Styles */
.root {
    -fx-background-color: -bg-grey;
}


.heart {
    -fx-shape           : "M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z";
    -fx-background-color: -bg-heart;
    -fx-pref-width      : 30;
    -fx-pref-height     : 25;
}

.heart-empty {
    -fx-shape           : "M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z";
    -fx-background-color: transparent;
    -fx-border-width    : 3;
    -fx-border-color    : -bg-heart;
    -fx-pref-width      : 25;
    -fx-pref-height     : 20;
    -fx-max-height      : 22
}


.lives {
    -fx-font-family: "Helios Antique Black";
    -fx-font-size: 18;
    -fx-text-fill: -bg-heart;
}


.score {
    -fx-font-family: "Helios Antique Black";
    -fx-font-size: 18;
    -fx-text-fill: -white;
}

.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: -code-bg;
    -fx-padding         : 0;
}

.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-border-radius: 0 ;
    -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .decrement-arrow,
.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:horizontal .decrement-arrow,
.scroll-pane .scroll-bar:horizontal .increment-arrow {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
}

.scroll-pane .scroll-bar:vertical .track,
.scroll-pane .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-radius: 10;
    -fx-background-color: -bg-lighter-grey;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.progress-bar .track {
    -fx-background-color: transparent;
    -fx-border-color    : -bg-white;
    -fx-padding         : 0; 
    -fx-border          : 10;
    -fx-border-radius   : 100;
}

.progress-bar .bar {
    -fx-background-color    : -bg-white;
    -fx-background-radius   : 100;
} 

.hints {
    -fx-border-width    : 1.5;
    -fx-border-color    : -bg-hints;
    -fx-border-radius   : 7;
}

.hints-label {
    -fx-font-family : "Helios Antique Black";
    -fx-text-fill   : -bg-white;
    -fx-font-size   : 15;
}

.question-container {
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-border-color: -bg-light-grey;
    -fx-pref-height: 200;
    -fx-pref-width: 950;
}

.question, .example {
    -fx-font-size: 20;
    -fx-text-fill: -white;
}

.question {
    -fx-font-family: "Helios Antique Medium";
}

.example {
    -fx-font-family: "Monaco";
    -fx-background-color: -code-bg;
    -fx-padding: 10;
}

.choice-container {
    -fx-background-color    : -choice-main;
    -fx-background-radius   : 10;
    /* -fx-padding             : 10; */
    -fx-effect              : dropshadow(gaussian, -choice-shadow, 0, 0, 0, 10);
    -fx-pref-width          : 450;
    /* -fx-pref-width          : 200; */
}

.choice:disabled, .choice:disabled > * {
    -fx-opacity: 1;
}

.choice {
    -fx-background-color    : transparent;
    -fx-font-family         : "Helios Antique Medium";
    -fx-text-fill           : -white;
    -fx-font-size           : 20;
}

.choice-container:hover {
    -fx-background-color    : -choice-main-hover;
    -fx-effect              : dropshadow(gaussian, -choice-shadow-hover, 0, 0, 0, 10);
}


.bottom {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -bg-light-grey
}

.use-hint {
    -fx-background-color: transparent;
    -fx-border-width    : 1;
    -fx-border-color    : -bg-hints;
    -fx-border-radius   : 3;
    -fx-font-family     : "Helios Antique Black";
    -fx-font-size       : 18;
    -fx-text-fill       : -bg-white;
    -fx-padding         : 10;
    -fx-pref-width      : 200;
}

.submit {
    -fx-background-color: transparent;
    -fx-border-width    : 2;
    -fx-border-color    : -logo-green;
    -fx-border-radius   : 3;
    -fx-font-family     : "Helios Antique Black";
    -fx-font-size       : 18;
    -fx-text-fill       : -bg-white;
    -fx-padding         : 10;
    -fx-pref-width      : 200;
}

.submit:hover {
    -fx-background-color: -submit-hover;
}

.popup-container {
    -fx-background-color: -dark;
}

.tip {
    -fx-font-family: "Helios Antique Medium";
    -fx-text-fill: -white;
    -fx-font-size: 14;
}

.popup {
    -fx-background-color: -bg-shop;
    -fx-background-radius: 10;
    -fx-pref-width: 700;
    -fx-padding: 50;
    -fx-spacing: 20;
}

.popup-msg {
    -fx-font-family: "Helios Antique Black";
    -fx-font-size: 20; 
    -fx-text-fill: -white;
}

.yes, .no{
    -fx-font-family: "Helios Antique Black";
    -fx-font-size: 15;
    -fx-text-fill: -white;
    -fx-background-radius: 3;
    -fx-pref-width: 100;
}

.yes {
    -fx-background-color: -yes-main;
    -fx-effect          : dropshadow(gaussian, -yes-shadow, 0, 0, 0, 10);
}

.no {
    -fx-background-color: -no-main;
    -fx-effect          : dropshadow(gaussian, -no-shadow, 0, 0, 0, 10);
}

.return-menu, .restart-level {
    -fx-font-family: "Helios Antique Black";
    -fx-font-size: 15;
    -fx-text-fill: -white;
    -fx-background-radius: 3;
    -fx-pref-width: 175;
}
.return-menu {
    -fx-background-color: -yes-main;
    -fx-effect          : dropshadow(gaussian, -yes-shadow, 0, 0, 0, 10);
}

.restart-level {
    -fx-background-color: -yes-main;
    -fx-effect          : dropshadow(gaussian, -yes-shadow, 0, 0, 0, 10);
}
