/* Fonts */
@font-face {
    font-family: "Helios Antique Black";
    src: url(../../../../fonts/Helios-Antique/Helios_Antique-Black.otf);
}

@font-face {
    font-family: "Helios Antique Medium";
    src: url(../../../../fonts/Helios-Antique/Helios_Antique-Medium.otf);
}

@font-face {
    font-family: "Raitor Regular";
    src: url(../../../../fonts/Raitor-Regular/Raitor-Regular.ttf);
}

/* Default Colors */
* {
    -bg-grey        : #18181A;
    -bg-white       : #E7E6E6;
    -bg-lighter-grey: #74747d;
    -bg-light-grey  : #414145;

    -white          : #FFFFFF;
    
    -logo-green : #9BC860;
    -logo-pink  : #E68ABA;

    /* ---- */

    -key-main   : #3C298F;
    -key-shadow : #251957
}

/* Styles */
.root {
    -fx-background-color: -bg-grey;
}

.top {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -bg-light-grey;
}

.overview {
    -fx-font-family : "Raitor Regular";
    -fx-text-fill   : -bg-white;
    -fx-font-size   : 25;
}

.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-radius: 0 ;
    -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .decrement-arrow,
.scroll-pane .scroll-bar:vertical .increment-arrow {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-radius: 10;
    -fx-background-color: -bg-lighter-grey;
}

.container {
    -fx-spacing: 70;
}

.item {
    -fx-padding: 0 250 0 50;
    -fx-spacing: 50;
    -fx-alignment: center_left;
}

.key {
    -fx-background-color    : -key-main;
    -fx-background-radius   : 3;
    -fx-font-family         : "Helios Antique Medium";
    -fx-text-fill           : -white;
    -fx-font-size           : 20;
    -fx-padding             : 10;
    -fx-effect              : dropshadow(gaussian, -key-shadow, 0, 0, 0, 10);
    -fx-pref-width          : 200;
    -fx-text-alignment      : center;
}

.definition {
    -fx-font-family         : "Helios Antique Medium";
    -fx-text-fill           : -white;
    -fx-font-size           : 20;
}

.bottom {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -bg-light-grey
}

.start {
    -fx-background-color: transparent;
    -fx-font-family: "Helios Antique Black";
    -fx-font-size: 15;
    -fx-text-fill: -bg-white;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: -logo-green;
    -fx-padding: 10 30;
}